@import 'linkVariables.scss';

.link-presentation{
    .link-stage{
        a{
            position: relative;
            text-transform: uppercase;
            text-decoration: none;
            color: $font-color;
            font-size: $font-size;
            cursor: pointer;
        }
        a,
        a::before,
        a::after{
            transition: .3s;
        }

        // SIMPLE HOVER

        .hover__first:hover{
            color: $main-color;
        }

        .hover__second{
            border-bottom: $underline-size solid transparent;
        }
        .hover__second:hover{
            color: $main-color;
            border-bottom-color: $main-color;
        }

        // UNDERLINE

        .underline__first{
            border-bottom: $underline-size solid transparent;
        }
        .underline__first:hover{
            border-bottom-color: $main-color;
        }

        .underline__second::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            transform: scaleX(0);
            height: $underline-size;
            background-color: $main-color;
        }
        .underline__second:hover:before{
            transform: scaleX(1)
        }
        
        .underline__third::before,
        .underline__third::after {
            content: '';
            position: absolute;
            bottom: 0;
            height: $underline-size;
            width: 50%;
            transform: scaleX(0);
            background-color: $main-color;
            transition: transform .3s;
        }
        .underline__third::before {
            left: 0;
            transform-origin: left;
        }
        .underline__third::after {
            right: 0;
            transform-origin: right;
        }
        .underline__third:hover::before {
            transform: scaleX(1);
            transform-origin: right;
        }
        .underline__third:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }

        .underline__fourth::before,
        .underline__fourth::after {
            content: '';
            position: absolute;
            bottom: 0;
            height: $underline-size;
            width: 50%;
            transform: scaleX(0);
            background-color: $main-color;
            transition: transform .3s;
        }
        .underline__fourth::before {
            left: 0;
            transform-origin: right;
        }
        .underline__fourth::after {
            right: 0;
            transform-origin: left;
        }
        .underline__fourth:hover::before {
            transform: scaleX(1);
            transform-origin: left;
        }
        .underline__fourth:hover::after {
            transform: scaleX(1);
            transform-origin: right;
        }

        .underline__fifth::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            transform: scaleX(0);
            transform-origin: left;
            height: $underline-size;
            background-color: $main-color
        }
        .underline__fifth:hover::before {
            transform: scaleX(1);
        }

        .underline__sixth::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            transform: scaleX(0);
            transform-origin: right;
            height: $underline-size;
            background-color: $main-color;
            transition: transform .3s ease-in;
        }
        .underline__sixth:hover::before {
            transform: scaleX(1);
            transform-origin: left;
        }

        // BACKGROUND

        .background__first {
            padding: 10px 20px;
        }
        .background__first:hover {
            background-color: $main-color;
            color: $bgc-color;
        }

        .background__second {
            padding: 10px 20px;
            z-index: 0
        }
        .background__second::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform: scaleY(0);
            background-color: $main-color;
            z-index: -1;
        }
        .background__second:hover::before {
            transform: scaleY(1);
        }
        .background__second:hover {
            color: $bgc-color;
        }

        .background__third {
            padding: 10px 20px;
            z-index: 0
        }
        .background__third::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform: scaleY(0);
            transform-origin: bottom;
            background-color: $main-color;
            z-index: -1;
        }
        .background__third:hover::before {
            transform: scaleY(1);
        }
        .background__third:hover {
            color: $bgc-color;
        }

        .background__fourth {
            padding: 10px 20px;
            z-index: 0
        }
        .background__fourth::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform: scaleY(0);
            transform-origin: top;
            background-color: $main-color;
            z-index: -1;
            transition: transform .3s;
        }
        .background__fourth:hover::before {
            transform-origin: bottom;
            transform: scaleY(1);
        }
        .background__fourth:hover {
            color: $bgc-color
        }

        .background__fifth {
            padding: 10px 20px;
            z-index: 0
        }
        .background__fifth::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform: scaleX(0);
            background-color: $main-color;
            z-index: -1;
        }
        .background__fifth:hover::before {
            transform: scaleX(1);
        }
        .background__fifth:hover {
            color: $bgc-color
        }

        .background__sixth {
            padding: 10px 20px;
            z-index: 0
        }
        .background__sixth::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform: scaleX(0);
            transform-origin: left;
            background-color: $main-color;
            z-index: -1;
        }
        .background__sixth:hover::before {
            transform: scaleX(1);
        }
        .background__sixth:hover {
            color: $bgc-color;
        }

        .background__seventh {
            padding: 10px 20px;
            z-index: 0
        }
        .background__seventh::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform: scaleX(0);
            transform-origin: right;
            background-color: $main-color;
            z-index: -1;
            transition: transform .3s;
        }
        .background__seventh:hover::before {
            transform: scaleX(1);
            transform-origin: left;
        }
        .background__seventh:hover {
            color: $bgc-color;
        }
    }
}