@import 'linkClasses.scss';

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: $bgc-color;
    font-family: 'Gantari', sans-serif;}

.menu{
    box-shadow: 0px 0px 5px black;
    .links-box{
        display: flex;
        flex-direction: row;
        background-color: #eee;
        padding: .25em;
        border-bottom: 1px solid #ccc;
        &__link{
            margin: 0.5em .25em;
            padding: .75em 1.5em;
            font-size: 1.2rem;
            font-family: 'Gantari', sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            border: none;
            color: white;
            background-color: #222;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color .3s;
            &--active{
                background-color: $main-color;
            }
            &:hover{
                background-color: #444;
            }
        }
    }
    
    .links-variation-box{
        background-color: #eee;
        .links-variation-box__element{
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            display: none;
            padding: .25em;
            &--active{
                display: flex;
            }
        }
        &__link{
            padding: .4em .8em;
            margin: .25em;
            font-size: 1.4rem;
            font-family: 'Gantari', sans-serif;
            font-weight: bold;
            border: none;
            background-color: #eee;
            border-radius: 2px;
            cursor: pointer;
            transition: color .3s, background-color .3s;
            &--active{
                background-color: $main-color;
                color: #eee;
            }
            &:hover{
                background-color: #444;
                color: #eee;
            }
        }
    }
}

.link-presentation{
    position: relative;
    display: flex;
    flex-direction: row;
    .link-options-opener,
    .link-options .link-options-closer{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 40px;
        margin: 25px;
        padding: 10px;
        background-color: #fff;
        border: none;
        border-radius: 50%;
        box-shadow: 0 0 5px #444;
        cursor: pointer;
        transition: transform .3s, opacity .1s;
        .fa-solid{
            font-size: 2rem;
            color: #222;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    .link-options-opener--active{
        opacity: 0;    
    }
    .link-options .link-options-closer{
        margin: 0 25px 0 0;    
    }
    .link-options{
        z-index: 1;
        margin: 1em;
        padding: 1.25em 1em;
        height: 500px;
        width: calc(100% - 2em);
        background-color:#eee;
        color: #444;
        box-shadow:  0 0 5px #444;
        transform: translate(-100vw);
        transition: transform .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        h2{
            margin-bottom: 1em;
            color: black;
            font-size: 1.8rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        &__element{
            display: flex;
            flex-direction: column;
            margin: 1em 0;
            label{
                font-size: 1.4rem;
            }
            &-inputs{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                &-text{
                    background-color: #dbdbdb;
                    width: 75%;
                    padding: 0.25em;
                    outline: none;
                    border: none;
                    border-radius: 3px;
                    font-size: 1.6rem;
                    &:focus{
                        background-color: #c9c9c9;
                    }
                }
                &-color-div{
                    height: 27px;
                    width: 27px;
                    border-radius: 50%;
                    overflow: hidden;
                    box-shadow: 0 0 5px #777;
                    transition: box-shadow .3s;
                    &:hover{
                        box-shadow: 0 0 5px #444;
                    }
                    .link-options__element-inputs-color{
                        height: 27px;
                        width: 27px;
                        transform:scale(1.1);
                        border: none;
                        cursor: pointer;
                    }
                } 
            }
        }
        &-closer{
            right: 0;
        }
        &--active{
            transform: translate(0);
        }
    }
    .link-stage{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 0;
        margin: 1em;
        top: 0;
        bottom: 0;
        width: calc(100% - 2em);
        &__element{
            text-transform: uppercase;
        }
    }
}


@media (min-width: 576px) {
    .menu{
        .links-box{
            padding: 1em;
            &__link{
                margin: 0.5em .75em;
                height: 125px;
                width: 125px;
                border-radius: 50%;
                text-align: center;
            }
        }
        .links-variation-box{
            padding: 1em;
            &__link{
                width:calc(50% - 1em)
            }
        }
    }
    .link-presentation{
        .link-options-opener,
        .link-options .link-options-closer{
            display: none;
        }
        .link-options{
            width: 250px;
            transform: translate(0);
        }
        .link-stage{
            left: calc(275px + 1em);
            width: calc(100% - 3em - 275px);
        }
    }
}

@media (min-width: 776px) {
    .menu{
        .links-variation-box{
            &__link{
                width:calc(33% - 1em)
            }
        }
    }
}

@media (min-width: 992px) {
    .menu{
        .links-variation-box{
            &__link{
                width:calc(25% - 1em)
            }
        }
    }
}

@media (min-width: 1200px) {
    .menu{
        .links-variation-box{
            &__link{
                width:calc(20% - 1em)
            }
        }
    }
}

@media (min-width: 1400px) {
    .menu{
        .links-variation-box{
            &__link{
                width:calc(16.6% - 1em)
            }
        }
    }
}