/*  */
/* VARIABLES */
/*  */
:root{
    --font-size: 32px;
    --font-family: 'Times New Roman', Times, serif;
    --font-weight: normal;
    --font-style: normal;
    --underline-size: 3px;
    --bgc-color: #dbdbdb;
    --main-color: #1363df;
    --font-color: black;
}

/*  */
/* BASIC STYLES */
/*  */

.workspace .link-stage a {
    position: relative;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    color: var(--font-color);
    cursor: pointer;
}
  
.workspace .link-stage a,
.workspace .link-stage a::before,
.workspace .link-stage a::after {
    transition: .3s;
}
  
/*  */
/* SIMPLE HOVER */
/*  */
    
/* SIMPLE HOVER */
.workspace .link-stage .simple-hover:hover {
    color: var(--main-color);
}

/* SIMPLE HOVER WITH UNDERLINE */
.workspace .link-stage .simple-hover-with-underline:hover {
    color: var(--main-color);
    text-decoration: underline;
}

/*  */
/* UNDERLINE */
/*  */

/* UNDERLINE HOVER */
.workspace .link-stage .underline-hover {
    border-bottom: var(--underline-size) solid transparent;
} 
.workspace .link-stage .underline-hover:hover {
    border-bottom-color: var(--main-color);
}

/* CENTER TO EDGES */
.workspace .link-stage .underline-center-to-edges::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    height: var(--underline-size);
    background-color: var(--main-color);
}  
.workspace .link-stage .underline-center-to-edges:hover:before {
    transform: scaleX(1);
}
 
/* CENTER TO EDGES REVERSE RETURN */
.workspace .link-stage .underline-center-to-edges-reverse-return::before,
.workspace .link-stage .underline-center-to-edges-reverse-return::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: var(--underline-size);
    width: 51%;
    transform: scaleX(0);
    background-color: var(--main-color);
    transition: transform .3s;
}  
.workspace .link-stage .underline-center-to-edges-reverse-return::before {
    left: 0;
    transform-origin: left;
}
.workspace .link-stage .underline-center-to-edges-reverse-return::after {
    right: 0;
    transform-origin: right;
}
.workspace .link-stage .underline-center-to-edges-reverse-return:hover::before {
    transform: scaleX(1);
    transform-origin: right;
} 
.workspace .link-stage .underline-center-to-edges-reverse-return:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
 
/* EDGES TO CENTER */
.workspace .link-stage .underline-edges-to-center::before,
.workspace .link-stage .underline-edges-to-center::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: var(--underline-size);
    width: 51%;
    transform: scaleX(0);
    background-color: var(--main-color);
    transition: transform .3s;
}
.workspace .link-stage .underline-edges-to-center::before {
    transform-origin: left;
    left: 0;
}  
.workspace .link-stage .underline-edges-to-center::after {
    transform-origin: right;
    right: 0;
}
.workspace .link-stage .underline-edges-to-center:hover::before,
.workspace .link-stage .underline-edges-to-center:hover::after {
    transform: scaleX(1);
}

/* EDGES TO CENTER REVERSE RETURN*/
.workspace .link-stage .underline-edges-to-center-reverse-return::before,
.workspace .link-stage .underline-edges-to-center-reverse-return::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: var(--underline-size);
    width: 51%;
    transform: scaleX(0);
    background-color: var(--main-color);
    transition: transform .3s;
}
.workspace .link-stage .underline-edges-to-center-reverse-return::before {
    left: 0;
    transform-origin: right;
}  
.workspace .link-stage .underline-edges-to-center-reverse-return::after {
    right: 0;
    transform-origin: left;
}
.workspace .link-stage .underline-edges-to-center-reverse-return:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}  
.workspace .link-stage .underline-edges-to-center-reverse-return:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}
  
/* UNDERLINE LEFT TO RIGHT */
.workspace .link-stage .uderline-left-to-right::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    height: var(--underline-size);
    background-color: var(--main-color);
} 
.workspace .link-stage .uderline-left-to-right:hover::before {
    transform: scaleX(1);
}

/* UNDERLINE LEFT TO RIGHT REVERSE RETURN */
.workspace .link-stage .uderline-left-to-right-reverse-return::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    height: var(--underline-size);
    background-color: var(--main-color);
    transition: transform .3s ease-in;
}
.workspace .link-stage .uderline-left-to-right-reverse-return:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
  
/*  */
/* BACKGROUND */
/*  */

/* BACKGROUND FIRST */
.workspace .link-stage .background__first {
    padding: 10px 20px;
}
.workspace .link-stage .background__first:hover {
    background-color: var(--main-color);
    color: var(--bgc-color);
}

/* BACKGROUND SECOND */
.workspace .link-stage .background__second {
    padding: 10px 20px;
    z-index: 0;
} 
.workspace .link-stage .background__second::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    background-color: var(--main-color);
    z-index: -1;
} 
.workspace .link-stage .background__second:hover::before {
    transform: scaleY(1);
}
.workspace .link-stage .background__second:hover {
    color: var(--bgc-color);
}

/* BACKGROUND THIRD */
.workspace .link-stage .background__third {
    padding: 10px 20px;
    z-index: 0;
}
.workspace .link-stage .background__third::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: var(--main-color);
    z-index: -1;
}
.workspace .link-stage .background__third:hover::before {
    transform: scaleY(1);
}
.workspace .link-stage .background__third:hover {
    color: var(--bgc-color);
}
 
/* BACKGROUND FOURTH */
.workspace .link-stage .background__fourth {
    padding: 10px 20px;
    z-index: 0;
}
.workspace .link-stage .background__fourth::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    background-color: var(--main-color);
    z-index: -1;
    transition: transform .3s;
} 
.workspace .link-stage .background__fourth:hover::before {
    transform-origin: bottom;
    transform: scaleY(1);
} 
.workspace .link-stage .background__fourth:hover {
    color: var(--bgc-color);
}

/* BACKGROUND FIFTH */
.workspace .link-stage .background__fifth {
    padding: 10px 20px;
    z-index: 0;
} 
.workspace .link-stage .background__fifth::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    background-color: var(--main-color);
    z-index: -1;
}
.workspace .link-stage .background__fifth:hover::before {
        transform: scaleX(1);
}
.workspace .link-stage .background__fifth:hover {
    color: var(--bgc-color);
}

/* BACKGROUND SIXTH */
.workspace .link-stage .background__sixth {
    padding: 10px 20px;
    z-index: 0;
} 
.workspace .link-stage .background__sixth::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--main-color);
    z-index: -1;
}
.workspace .link-stage .background__sixth:hover::before {
    transform: scaleX(1);
}
.workspace .link-stage .background__sixth:hover {
    color: var(--bgc-color);
}

/* BACKGROUND SEVENTH */
.workspace .link-stage .background__seventh {
    padding: 10px 20px;
    z-index: 0;
} 
.workspace .link-stage .background__seventh::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    background-color: var(--main-color);
    z-index: -1;
    transition: transform .3s;
}
.workspace .link-stage .background__seventh:hover::before {
    transform: scaleX(1);
    transform-origin: left;
} 
.workspace .link-stage .background__seventh:hover {
    color: var(--bgc-color);
}