*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #dbdbdb;
  font-family: 'Gantari', sans-serif;
  overflow: hidden;
}

/* MENU */

.menu {
  box-shadow: 0px 0px 5px black;
}

.menu .link-type-box {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  padding: .25em;
  border-bottom: 1px solid #ccc;
  
}

.menu .link-type-box .link-type {
  margin: 0.5em .25em;
  padding: .75em 1.5em;
  font-size: 1.2rem;
  font-family: 'Gantari', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  color: white;
  background-color: #222;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}
.menu .link-type-box .link-type--active {
  background-color: #1363df;
}
.menu .link-type-box .link-type:hover {
  background-color: #444;
}

.menu .link-variation-boxes {
  background-color: #eee;
}

.menu .link-variation-boxes .link-variation-box {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  display: none;
  padding: .25em;
}
.menu .link-variation-boxes .link-variation-box--active {
  display: flex;
}

.menu .link-variation-boxes .link-variation-box .link-variation {
  padding: .4em .8em;
  margin: .25em;
  font-size: 1.4rem;
  font-family: 'Gantari', sans-serif;
  font-weight: bold;
  border: none;
  background-color: #eee;
  border-radius: 2px;
  cursor: pointer;
  transition: color .3s, background-color .3s;
}
.menu .link-variation-boxes .link-variation-box .link-variation--active {
  background-color: #1363df;
  color: #eee;
}
.menu .link-variation-boxes .link-variation-box .link-variation:hover {
  background-color: #444;
  color: #eee;
}

/* WORKSPACE */

.workspace {
  position: relative;
  display: flex;
  flex-direction: row;
}

.workspace .generator-opener,
.workspace .generator .generator-closer,
.workspace .options-opener,
.workspace .options .options-closer {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin: 25px;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px #444;
  cursor: pointer;
  transition: transform .3s, opacity .1s;
}
.workspace .generator-opener{
  right: 0;
}
.workspace .generator .generator-closer,
.workspace .options .options-closer{
  right: 0;
  margin: 0 25px 0 0;
}

.workspace .generator .generator-closer:hover,
.workspace .generator-opener:hover,
.workspace .options-opener:hover,
.workspace .options .options-closer:hover {
  transform: scale(1.1);
}

.workspace .options-opener--active,
.workspace .generator-opener--active {
  opacity: 0;
}

.workspace .generator .generator-closer .fa-solid,
.workspace .options-opener .fa-solid,
.workspace .options .options-closer .fa-solid {
  font-size: 2rem;
  color: #222;
}
.workspace .generator-opener .fa-solid{
  font-size: 1.6rem;
  color: #222;
}

.workspace .generator{
  position: absolute;
  z-index: 2;
  height: 600px;
  margin: 1em;
  padding: 1.25em 1em;
  width: calc(100% - 2em);
  background-color: #eee;
  color: #444;
  box-shadow: 0 0 5px #444;
  transform: translate(100vw);
  transition: transform .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.workspace .generator--active{
  transform: translate(0);
}

.workspace .options {
  z-index: 1;
  margin: 1em;
  padding: 1.25em 1em;
  width: calc(100% - 2em);
  background-color: #eee;
  color: #444;
  box-shadow: 0 0 5px #444;
  transform: translate(-100vw);
  transition: transform .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.workspace .options--active {
  transform: translate(0);
}

.workspace .options h2 {
  margin-bottom: 1em;
  color: black;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.workspace .options .options-elements {
  display: flex;
  flex-direction: row;
  margin: .5em 0;
}

.workspace .options .options-element {
  display: flex;
  flex-direction: column;
  margin: .5em 0;
}

.workspace .options .options-element select {
  background-color: #dbdbdb;
  width: 100%;
  padding: 0.25em 0.5em;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1.6rem;
}

.workspace .options .options-element-checkbox {
  justify-content: center;
  align-items: center;
  margin-left: .75em;
}

.workspace .options .options-element-reset{
  display: flex;
  height: 27px;
  transform: translateY(17px);
}
.workspace .options .options-element-reset .reset-input{
  height: 100%;
  width: 75px;
  padding: 0 .5em;
  font-size: 1.7rem;
  border-radius: 5px;
  margin-left: .75em;
  letter-spacing: 1px;
  background-color: #dbdbdb;
  border: none;
  cursor: pointer;
  transition: background-color .3s;
}
.workspace .options .options-element-reset .reset-input:hover{
  background-color: #c9c9c9;
}


.workspace .options .options-element label {
  font-size: 1.4rem;
}

.workspace .options .options-element select:focus{
  background-color: #c9c9c9;
}

.workspace .inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.workspace .input-text,
.workspace .input-number {
  background-color: #dbdbdb;
  width: 100%;
  padding: 0.25em 0.5em;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1.6rem;
}

.workspace .input-text:focus,
.workspace .input-number:focus{
  background-color: #c9c9c9;
}

.workspace .input-color-div {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px #777;
  transition: box-shadow .3s;
}

.workspace .input-color-div:hover {
  box-shadow: 0 0 5px #444;
}

.workspace .input-color-div .input-color {
  height: 27px;
  width: 27px;
  transform: scale(2);
  border: none;
  cursor: pointer;
}

.workspace .link-stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 0;
  margin: 1em;
  top: 0;
  bottom: 0;
  width: calc(100% - 2em);
}

/* .workspace .link-stage__element {
  text-transform: uppercase;
} */