*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #dbdbdb;
  font-family: 'Gantari', sans-serif;
}

.menu {
  box-shadow: 0px 0px 5px black;
}

.menu .links-box {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  padding: .25em;
  border-bottom: 1px solid #ccc;
  
}

.menu .links-box__link {
  margin: 0.5em .25em;
  padding: .75em 1.5em;
  font-size: 1.2rem;
  font-family: 'Gantari', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  color: white;
  background-color: #222;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.menu .links-box__link--active {
  background-color: #1363df;
}

.menu .links-box__link:hover {
  background-color: #444;
}

.menu .links-variation-box {
  background-color: #eee;
}

.menu .links-variation-box .links-variation-box__element {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  display: none;
  padding: .25em;
}

.menu .links-variation-box .links-variation-box__element--active {
  display: flex;
}

.menu .links-variation-box__link {
  padding: .4em .8em;
  margin: .25em;
  font-size: 1.4rem;
  font-family: 'Gantari', sans-serif;
  font-weight: bold;
  border: none;
  background-color: #eee;
  border-radius: 2px;
  cursor: pointer;
  transition: color .3s, background-color .3s;
}

.menu .links-variation-box__link--active {
  background-color: #1363df;
  color: #eee;
}

.menu .links-variation-box__link:hover {
  background-color: #444;
  color: #eee;
}

.link-presentation {
  position: relative;
  display: flex;
  flex-direction: row;
}

.link-presentation .link-options-opener,
.link-presentation .link-options .link-options-closer {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin: 25px;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px #444;
  cursor: pointer;
  transition: transform .3s, opacity .1s;
}

.link-presentation .link-options-opener .fa-solid,
.link-presentation .link-options .link-options-closer .fa-solid {
  font-size: 2rem;
  color: #222;
}

.link-presentation .link-options-opener:hover,
.link-presentation .link-options .link-options-closer:hover {
  transform: scale(1.1);
}

.link-presentation .link-options-opener--active {
  opacity: 0;
}

.link-presentation .link-options .link-options-closer {
  margin: 0 25px 0 0;
}

.link-presentation .link-options {
  z-index: 1;
  margin: 1em;
  padding: 1.25em 1em;
  height: 500px;
  width: calc(100% - 2em);
  background-color: #eee;
  color: #444;
  box-shadow: 0 0 5px #444;
  transform: translate(-100vw);
  transition: transform .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

}

.link-presentation .link-options h2 {
  margin-bottom: 1em;
  color: black;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.link-presentation .link-options__element {
  display: flex;
  flex-direction: column;
  margin: .5em 0;
}

.link-presentation .link-options__element-checkbox {
  justify-content: center;
  align-items: center;
  margin-left: .75em;
}

.link-presentation .link-options__elements {
  display: flex;
  flex-direction: row;
  margin: .5em 0;
}

.link-presentation .link-options__element label {
  font-size: 1.4rem;
}

.link-presentation .link-options__element-inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.link-presentation .link-options__element-inputs-text {
  background-color: #dbdbdb;
  width: 75%;
  padding: 0.25em 0.5em;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1.6rem;
}

.link-presentation .text-input,
.link-presentation .font-size-input{
  width: 100%;
}

.link-presentation .link-options__element-inputs-text:focus {
  background-color: #c9c9c9;
}

.link-presentation .link-options__element-inputs-color-div {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px #777;
  transition: box-shadow .3s;
}

.link-presentation .link-options__element-inputs-color-div:hover {
  box-shadow: 0 0 5px #444;
}

.link-presentation .link-options__element-inputs-color-div .link-options__element-inputs-color {
  height: 27px;
  width: 27px;
  transform: scale(2);
  border: none;
  cursor: pointer;
}

.link-presentation .link-options-closer {
  right: 0;
}

.link-presentation .link-options--active {
  transform: translate(0);
}

.link-presentation .link-stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 0;
  margin: 1em;
  top: 0;
  bottom: 0;
  width: calc(100% - 2em);
}

/* .link-presentation .link-stage__element {
  text-transform: uppercase;
} */