@media (min-width: 576px) {
    .menu .link-type-box {
      padding: 1em;
      overflow-x: auto;
    }
    .menu .link-type-box .link-type {
      margin: 0.5em .75em;
      height: 125px;
      width: 125px;
      border-radius: 50%;
      text-align: center;
    }
    .menu .link-type-box .link-type::before{
      border-radius: 50%;
    }
    .menu .link-variation-boxes {
      padding: 1em;
    }
    .menu .link-variation-boxes .link-variation-box {
      overflow-x: auto;
      flex-wrap: wrap;
    }
    .menu .link-variation-boxes .link-variation-box .link-variation {
      width: calc(50% - 1em);
    }
    .workspace .options-opener,
    .workspace .options .options-closer {
      display: none;
    }
    .workspace .options {
      width: 250px;
      transform: translate(0);
    }
    .workspace .link-stage {
      left: calc(275px + 1em);
      width: calc(100% - 3em - 275px);
    }
  }
  
  @media (min-width: 776px) {
    .menu .link-variation-boxes .link-variation-box .link-variation {
      width: calc(33% - 1em);
    }
  }
  
  @media (min-width: 992px) {
    .menu .link-variation-boxes .link-variation-box .link-variation {
      width: calc(25% - 1em);
    }
  }
  
  @media (min-width: 1200px) {
    .menu .link-variation-boxes .link-variation-box .link-variation {
      width: calc(20% - 1em);
    }
  }
  
  @media (min-width: 1400px) {
    .menu .link-variation-boxes .link-variation-box .link-variation {
      width: calc(16.6% - 1em);
    }
  }